body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: url('https://media-hosting.imagekit.io//88d9b24f5a8e4861/dragonabourus.jpg?Expires=1734023328&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=SlaxUTq0KZc2qkNeMnrKQrXCv2ROt135wh4neK4C5B1YO82VrMQSzMFsHpTH0~-skvS-~eFL8YiMYDPTEl7lhDbVkLiVzxYhsmYq4Wmg-sDsI8tmGAeERBlwqw1hDtdS5b16HNzqefWKvEjs6efunlN2mn-Eo8EucPuJ4XlAZ0GLkbUm3Ptdc4FDFxV656-lrHmw3El6mrEE3~i-bhgx0eMxrpz8qS1JcCG~XVYF7JaLA2iuVjFwhIt5smQ5RPd4Bia7jrENnOYWRaqBb4DPNKbyFUmwhbg3f-N6qxx4fPa-UsFMLD97rx2HTEL7G7Bz1VHX9RtIcMA3ksIRoRqmFg__') no-repeat center center fixed; /* Replace with your preferred medieval background */
    background-size: cover;
}

.overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.header {
    text-align: center;
    padding: 30px 20px;

}

.header h1 {
    font-family: 'Cinzel', serif;
    font-size: 4.8rem;
    color: yellow;
}

.header  {
    font-size: 1.2rem;
    color: orange;
    margin-top: 15px;
}


.team-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 20px;
}

.team-member {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 25px;
  margin-top:80px;
    width: 280px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border:1px solid;
}

.team-member img {
    border-radius: 10%; */
    width: 100%; 
    height: 200px; 
    margin-bottom: 20px;
    border: 3px solid #ffc107; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

}

.team-member h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.4rem;
    color: #ffc107;
}

.team-member p {
    font-size: 0.9rem;
    color: #ddd;
}

.team-member .role {
    font-size: 1rem;
    color: #ff9800;
    margin-top: 10px;
    font-style: italic;
}
footer {
    text-align: center;
    padding: 2rem 1rem;
    color: #fff;
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.6);
    border-top: 2px solid #f39c12;
}

footer p {
    font-size: 1rem;
    color: #ccc;
}
.achievements-container {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  gap: 20px; 
}

.achievement {
  text-align: center; 
}

.achievement img {
  display: block;
  margin: 0 auto; 
  border-radius: 8px; 
}

.achievement p {
  margin-top: 8px; 
  font-size: 14px; 
  color: white; 
  font-weight: bold;
}
